<%= form_with(model: property) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :purchase_date %>
    <%= form.date_field :purchase_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "form-control" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), properties_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), property_path(@property), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
