<%= render 'finance_applications/sections/_sidebar', current_section: :applicants %>
<div class="ml-72 p-8">
  <h2 class="text-xl font-bold mb-6">Applicant Details</h2>
  <%= form_with model: @finance_application, url: applicants_step1_finance_application_path(@finance_application), method: :patch do |f| %>
    <%= f.fields_for :applicants do |applicant_form| %>
      <div class="mb-4">
        <%= applicant_form.label :surname, 'Surname' %>
        <%= applicant_form.text_field :surname, class: 'form-control' %>
      </div>
      <div class="mb-4">
        <%= applicant_form.label :given_names, 'Given Names' %>
        <%= applicant_form.text_field :given_names, class: 'form-control' %>
      </div>
    <% end %>
    <div class="flex justify-between mt-6">
      <%= link_to 'Back', loan_details_step1_finance_application_path(@finance_application), class: "btn btn-secondary" %>
      <%= f.submit 'Save & Next', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
